# نادیده گرفتن همه چیز
*

# اجازه دادن به فولدر lib
!lib/
# فقط week-2 داخل lib اضافه شود
!lib/week-2/

# اجازه دادن به فولدر test
!test/
# فقط week2_test داخل test اضافه شود
!test/week2_test/

# خود فایل .gitignore باید همیشه قابل دیدن باشد
!.gitignore
